<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('most_popular') }}">Most Popular</a></li>
                <li><a href="{{ url_for('most_recent') }}">Most Recent</a></li>
                <li><a href="{{ url_for('most_controversial') }}">Most Controversial</a></li>
                {% if show_login_button %}
                <li style="margin-left: auto;"><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li style="margin-left: auto;"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('list_chats') }}">Chats</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                <!-- <li style="margin-left: auto;"><span>Mango</span></li> -->

            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</body>

</html>