{% extends "base.html" %}

{% block title %}
Most Controversial Questions
{% endblock %}

{% block body %}
<h1>Most Controversial Questions</h1>
<ul>
    {% for question in questions %}
    <li>
        <a href="{{ url_for('question_detail', question_id=question['questionID']) }}">
            {{ question['questionText'] }}
        </a>
    </li>
    {% endfor %}
</ul>
<!-- Pagination Controls -->
<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('most_controversial', page=page-1) }}">Previous</a>
    {% endif %}

    <span>Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
    <a href="{{ url_for('most_controversial', page=page+1) }}">Next</a>
    {% endif %}
</div>
{% endblock %}