{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">
{% endblock %}


{% block title %}
Mango User Registration
{% endblock %}

{% block body %}
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>
<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="user-login">
    <h1>User Registration</h1>
    <h3>Enter your registration credentials</h3>
    <form id="register-form" action="{{ url_for('register_route') }}" method="post">
        <label for="register_username">
            Username:
        </label>
        <input type="text" id="register_username" name="register_username" placeholder="Enter your Username" required>

        <label for="register_password">
            Password:
        </label>
        <input type="password" id="register_password" name="register_password" placeholder="Enter your Password"
            required>
        <label for="confirm_password">
            Confirm Password:
        </label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your Password"
            required>

        <div class="wrap">
            <button type="submit">Register</button>button>
        </div>
    </form>
</div>
{% endblock %}